
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <p>Không thể xóa người dùng này. Bạn phải xóa đơn hàng của họ trước</p>
        @Html.ActionLink("Trở về", "Index")
    </div>
</body>
</html>
